:root {
  --purple-100: #d4add9;
  --purple-400: #ae34cd;
  --purple-900: #390646;
  --white: #ffffff;
  /* container sizes */
  --container-width: 1048px;

}
/* resets */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
a {
  text-decoration: none;
}
ul {
  list-style: none;
}
body {
  font-family: "Inter", sans-serif;
  background-color: #F5ECEC;
}
.container {
  max-width: var(--container-width);
  width: 100%;
  margin: 0 auto;
}
.navbar {
  display: flex;
  justify-content: space-between;
  gap: 40px;
  background-color: var(--purple-100);
  border-radius: 39px;
  padding: 15px 12px;
  margin-bottom: 35px;
}

.balans {
  display: flex;
  align-items: center;
  gap: 18px;
  
}
.balans_sum {
font-weight: 800;
font-size: 60px;
line-height: 73px;
color: var(--purple-900);
}
.wallet {
  display: flex;
  align-items: center;
  gap: 18px;
  flex-wrap: wrap;
}
.wallet__txt {
  font-weight: 800;
font-size: 60px;
line-height: 73px;
color: var(--purple-900);
}
.graphics {
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  background-color: var(--purple-100);
  border-radius: 39px;
  padding: 37px 55px 63px 64px;
  gap: 47px;
  margin-bottom: 36px;
}
.graphics__item1 {
  border: 1px solid var(--purple-400);
  background-color: var(--purple-400);
  width: 28px;
  height: 355px;
}
.graphics__item2 {
  border: 1px solid var(--purple-400);
  background-color: var(--purple-400);
  width: 28px;
  height: 271px;
}
.graphics__item3 {
  border: 1px solid var(--purple-400);
  background-color: var(--purple-400);
  width: 28px;
  height: 197px;
}
.graphics__item4 {
  border: 1px solid var(--purple-400);
  background-color: var(--purple-400);
  width: 28px;
  height: 229px;
}
.graphics__item5 {
  border: 1px solid var(--purple-400);
  background-color: var(--purple-400);
  width: 28px;
  height: 309px;
}
.graphics__item6 {
  border: 1px solid var(--purple-400);
  background-color: var(--purple-400);
  width: 28px;
  height: 287px;
}
.graphics__item7 {
  border: 1px solid var(--purple-400);
  background-color: var(--purple-400);
  width: 28px;
  height: 355px;
}
.graphics__item8 {
  border: 1px solid var(--purple-400);
  background-color: var(--purple-400);
  width: 28px;
  height: 423px;
}
.graphics__item9 {
  border: 1px solid var(--purple-400);
  background-color: var(--purple-400);
  width: 28px;
  height: 271px;
}
.graphics__item10 {
  border: 1px solid var(--purple-400);
  background-color: var(--purple-400);
  width: 28px;
  height: 398px;
}
.footer {
  display: flex;
  gap: 48px;
}
.graphic-left {
  max-width: 370px;
  width: 100%;
  background-color: var(--purple-100);
  border-radius: 39px;
  display: flex;
  padding: 15px 85px 14px 50px;
  align-items: center;
  justify-content: center;

}
.graphic-left__diagram {
  width: 235px;
  height: 235px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 15px solid var(--purple-400);
  border-radius: 50%;  
}
.graphic-right {
  max-width: 630px;
  width: 100%;
  background-color: var(--purple-100);
  border-radius: 39px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.diagram {
  position: absolute;
}
.page-content {
  max-width: 1440px;
  display: flex;
  gap: 13px; 
  margin-top: 13px;
}
.aside {
  background-color: #ae34cd;
  border-radius: 39px;
  max-width: 392px;
}
.aside__menu {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  width: 100%;
 
}
.navbar-secondary {
  display: flex;
  margin-top: 65px;
  padding: 0 65px;
  flex-direction: column;
  gap: 70px;
}
.navbar-secondary__menu {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.navbar-secondary__txt {
  font-size: 30px;
line-height: 36px;
color: #FFFFFF;
}
.link-background {
  background-image: url(../assets/backgound_market.svg);
}
.link-txt {
  font-size: 35px;
}
.theme {
  display: flex;
  align-items: center;
  margin-left: 40px;
  padding-top: 45px;
}
.theme__logo {
  position: absolute;
}
.theme__switch {
  padding-left: 25px;
}
